---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    
    <!-- Language Switcher for Posts -->
    <div class="post-language-switcher">
      {% assign current_lang = 'cn' %}
      {% if page.basename contains '_en' %}
        {% assign current_lang = 'en' %}
      {% endif %}
      
      {% assign has_en = page | has_english_version %}
      {% if current_lang == 'cn' and has_en %}
        <a href="{{ page.url | replace: '.html', '_en.html' }}" class="lang-link">English Version</a>
      {% elsif current_lang == 'en' %}
        <a href="{{ page.url | replace: '_en.html', '.html' }}" class="lang-link">中文版本</a>
      {% endif %}
    </div>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">
    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %} 
    {% if page.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%b %-d, %Y" }}
    </time>
    </p>
  </header>

  <article class="post-content" itemprop="articleBody">
      {{ content | replace: '<!--more-->', '<a class="anchor" id="read-more"></a>' }}
  </article>
  <hr />
</div>


{% include page_pagination.html%}

{% if page.comments %}
{% include comments.html %}
{% endif %}
